<div class="welcome-container">
  <div class="welcome-content">
    <h1>Welcome to Edunet</h1>
    <p>Edunet est une plateforme éducative conçue pour faciliter l'interaction et la collaboration entre les utilisateurs à travers diverses fonctionnalités. L'application permet aux utilisateurs de mettre à jour leurs informations personnelles, de créer et de gérer des sujets de discussion et des publications, de rechercher des sujets et des utilisateurs, et d'interagir avec les publications via des votes et des commentaires. Les propriétaires de sujets ont la possibilité de supprimer des publications et des commentaires.</p>
    <hr>
    <h5>Login or register to get started.</h5>
    <div class="welcome-buttons">
      <a routerLink="/register" class="btn btn-primary btn-lg">Register</a>
      <a routerLink="/login" class="btn btn-secondary btn-lg">Login</a>
    </div>
  </div>
</div>
