<div class="container">
  <div class="row">
    <!-- Topic Details Column -->
    <div class="col-md-4">
      <div class="topic-details p-4 border mb-4">
        <h1>{{ topic?.name }}</h1>
        <p><strong>Description:</strong> {{ topic?.description }}</p>
        <p><strong>Privacy Level:</strong> {{ topic?.privacy }}</p>
        <p><strong>Owner:</strong> {{ topic?.owner }}</p>
        <p><strong>Created On:</strong> {{ topic?.createdOn | date }}</p>
      </div>

      <div class="navigation">
        <button *ngIf="membership !== 'NONE'" class="btn btn-success" (click)="memberList()">Members</button>
        <button *ngIf="membership !== 'NONE' && membership !== 'OWNER'" class="btn btn-danger" (click)="leaveTopic()">Leave</button>
        <button *ngIf="membership === 'NONE'" class="btn btn-success" (click)="joinTopic()">Join</button>
        <button *ngIf="membership === 'OWNER' || membership === 'MODERATOR'" class="btn btn-success" (click)="getJoinRequests()">Join Requests</button>
        <button *ngIf="membership === 'OWNER'" class="btn btn-danger" (click)="deleteTopic()">Delete</button>
      </div>
    </div>

    <div class="col-md-8">
      <button type="button" class="btn btn-primary mt-3 mb-4" (click)="createNewPost()">New Post</button>

      <app-post-list [id]="id" [entityType]="EntityType.Topic"></app-post-list>
    </div>
  </div>
</div>
