body {
  color: black;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-form {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.register-form div {
  margin-bottom: 15px;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
}

.register-form input[type="text"]::placeholder,
.register-form input[type="email"]::placeholder,
.register-form input[type="password"]::placeholder,
.register-form input[type="number"]::placeholder {
  color: grey;
}

.register-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #0056b3;
}
