<div *ngIf="userService.currentUserSig() != null">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Edunet</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav me-auto">
          <a [routerLink]="['/profile', userService.currentUserSig()?.id]" routerLinkActive="active" class="nav-link">Profile</a>
          <a routerLink="/my-topics" routerLinkActive="active" class="nav-link">Topics</a>
          <a routerLink="/branch-list" routerLinkActive="active" class="nav-link">Branches</a>
          <a routerLink="/settings" routerLinkActive="active" class="nav-link">Settings</a>
          <a class="nav-link" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </div>
        <form [formGroup]="searchForm" (ngSubmit)="search()" class="d-flex">
          <input type="text" class="form-control me-2" placeholder="Search" formControlName="search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>

<div class="dark container mt-3">
  <router-outlet></router-outlet>
</div>
