<div class="container">
  <ng-container *ngIf="query">
    <h2>{{ searchType === 'u' ? 'User' : 'Topic' }} search results for {{ query }} </h2>
    <div *ngIf="searchType === 'u'; else topicResults">
      <app-user-list [users]="userSearchResults"></app-user-list>
    </div>
    <ng-template #topicResults>
      <div *ngIf="topicSearchResults.length > 0; else emptyTopicResults">
        <app-topic-list [topicList]="topicSearchResults"></app-topic-list>
      </div>
      <ng-template #emptyTopicResults>
        <p>No topic results found.</p>
      </ng-template>
    </ng-template>
  </ng-container>
  <ng-template #noQuery>
    <p>No query provided.</p>
  </ng-template>
</div>
